* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px; /* ヘッダーの高さ分だけ余白を追加 */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    position: fixed; /* ヘッダーを画面に固定 */
    top: 0; /* 画面の上部に配置 */
    left: 0; /* 画面の左端に配置 */
    width: 100%; /* 幅を100%に設定 */
    background-color: #333; /* 背景色 */
    color: white; /* 文字色 */
    z-index: 1000; /* 他の要素より上に表示 */
    padding: 10px 0; /* 上下の余白 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 下に影をつけて浮いている感じに */
}

header .container {
    width: 90%; /* 横幅を90%に設定 */
    margin: 0 auto; /* 中央揃え */
    display: flex;
    justify-content: space-between; /* ロゴとナビゲーションの間隔を調整 */
    align-items: center; /* 縦方向に中央揃え */
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
}

nav ul li {
    margin-right: 20px; /* リストアイテムの間隔を設定 */
}

header nav ul {
    list-style: none; /* リストマーカーを消去 */
    margin: 0;
    padding: 0;
    display: flex; /* 横並びに配置 */
}

header nav ul li a {
    text-decoration: none; /* 下線を消去 */
    color: white; /* リンクの文字色 */
    font-size: 16px; /* フォントサイズ */
    transition: color 0.3s; /* ホバー時の色変更のアニメーション */
}

nav ul li a:hover {
    color: #ffcc00; /* ホバー時に文字色を変更 */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    padding: 40px 0;
}

#about, #skills, #projects {
    padding: 70px 0; /* 上下に余白を追加 */
}

.about p {
    text-align: center;
    font-size: 1.2rem;
}

.skills .skill-item {
    margin-bottom: 20px;
}

/* 保有技術のバー設定 */
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 10px;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.progress.html,.progress.css,.progress.js {
    width: 50%;
    background-color: #f7a800;
}
.progress.CC,.progress.java {
    width: 100%;
    background-color: #0046f7;   
}

.progress.C,.progress.php {
    width: 80%;
    background-color: #0ca458;   
}


.projects .project-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.projects img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}
.projects video {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    margin-right: 20px;
}
.project-info h3 {
    margin-bottom: 10px;
}

.project-info a {
    color: #2965f1;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
